body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


header{
    background-color: rgb(109, 109, 109);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

header a{
    margin-top: 20px;
    font-size: 3vw;
    color: rgb(255, 56, 56);
    font-weight: bold;
    text-decoration: none;
}

header img{
    height: 100px;
    margin-right: 60px;
}

nav ul {
    background-color: rgb(154, 146, 146);
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-top: auto;
    
}

nav ul li {
    display: inline;
    margin: 10px;
    font-size: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    display: inline-block;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a{
    margin-right: 60px;
  
}
nav ul li a:hover {
    background-color: gray;
    border-color: rgb(109, 109, 109);
    color: red
}

nav{
    margin-bottom: 40px;
}

h1{
    text-align: center;
}

p{
    font-size: 18px;
}

/*Grid*/

.texto{
    grid-area: izquierda;
    margin-left: 5vw;
    width: 40vw;
}

.imagen{
    margin-right: 5vw;
    grid-area: derecha;
    width: 40vw;
}

.imagen img{
    width: 40vw;
    border: solid 2px;
    border-radius: 10px;
}

.contenedor_grid{
    display: grid; /*Utilizo el display:grid para establecer que va a haber grid ahí*/
    grid-template-columns: 2fr; /*Como solo hay una columna, pongo 1fr. Si hubieran dos podría poner: 1fr 1fr por ejemplo*/
    grid-template-areas:
    "izquierda derecha";
    gap: 5vw;
    max-width: 100vw;
    margin-right: 2vw;
    align-items: center;
}


.contenedor {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.FotoClasificacion {
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 100%;
    max-height: 100%;
}